%% -*- mode: erlang -*-
{lib_dirs, ["./deps"]}.


{release, {riak_core, "2.1.2.1"},
          [riak_core]}.

{release, {riak_core, "2.1.2"},
          ["eleveldb=2.1.2",
           "lager>=2.2.0",
           "runtime_tools>=1.8.12",
           "riak_sysmon>=2.0.1",
           "exometer_core>=1.0.0-basho2",
           "clique>=0.3.3",
           "folsom>=0.7.4p5",
           "basho_stats>=1.0.3",
           "poolboy=0.8.1p3"
           ]}.

{release, {riak_core, "2.1.2-a"},
          ["eleveldb",
           "lager",
           "runtime_tools",
           "riak_sysmon",
           "exometer_core",
           "clique",
           "folsom",
           "basho_stats",
           "poolboy"
           ]}.
